body {
    background-color: #1a1a1d;
    background-image: linear-gradient(0deg, #1a1a1d 0%, #4e4e50 100%);
    font-family: sans-serif;
    background-repeat: no-repeat;
    color: white;
    margin: 20px;
}
h1 {
    display: inline;
    padding: 20px;
}
.header {
    padding: 20px;
    text-align: center;
}
p {
    text-align: center;
}
div.ingredient p {
    margin: 0;
    text-align: left;
    display: inline;
}
div.ingredient {
    background-color: #6f2232;
    margin: 10px;
    border: 1px solid #c3073f;
}
div.meal {
    background-color: #950740;
    margin: 20px;
    border: 2px solid #4e4e50;
}
.checkbox {
    display: inline;
    margin: 5px;
}
h4 {
    display: inline;
    padding: 10px;
    color: white;
}
a {
    text-decoration: none;
}
.btn {
    padding: 5px;
    margin: 5px;
}
.icon {
    height: 50px;
    width: auto;
}