body {
    /* background-image: url(../images/background-kitchen.jpeg); */
    background-color: rgb(199, 240, 226);
    font-family: sans-serif;
    background-size: 100%;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
h1 {
    text-align: center;
    padding: 20px;
}
p {
    text-align: center;
}
div {
    border: 1px solid black;
}
.listOfMeals {
    color: blue;
    display: inline;
}
div.ingredient p {
    margin: 0;
    text-align: left;
    display: inline;
    /* background-color: cornflowerblue; */
}
.checkbox {
    display: inline;
}
h4 {
    display: inline;
    padding: 10px;
}
.btn {
    text-align: right;
    text-shadow: none;
    padding: 5px;
    margin: 5px;
}
@media screen and (max-width: 768px) {
    .col {
        display: inherit;
    }
}